<html>
<head>
<link rel="stylesheet" href="pages.scss">
</head>

<body>
<div class="container">
<h1> List of all the Players</h1>
<% @athletes.each do |athlete| %>
    <li>
    
    
    <%= link_to athlete.name, athlete_path(athlete) %>

    <% end %><br><br>


    <%= form_tag root_path, method: "get" do %>
        <%= submit_tag "Home" %>
      <% end %> <br><br>
</li>
</div>
</body>
</html>





