<html>
<head>
<link rel="stylesheet" href="pages.scss">
</head>


<body>
<div class='homepage'>
<h1>Welcome to the Fantasy League </h1>
<id<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/teams">Teams</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" href="/athletes">Players</a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-item" href="/coaches">Coaches</a>
      </li>  
      <li>
        <a class="nav-link dropdown-toggle" href="/mascots" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Mascots</a>
      </li>
        <li><a class="nav-link" href="/fan_clubs">Fan Clubs</a></li>
          </ul>
        
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
</nav>
</li>
</div>

</body>




  