<html>
<head>
<link rel="stylesheet" href="pages.scss">
</head>

<body>
<div class="container">
<h1> List of all Fan Clubs </h1>
<% @fan_club.each do |fan| %>
    <li>
    <%= link_to fan.name, fan_club_path(fan) %>

    <%end%></li>
</div>
</body>
</html>

