<html>
    <head>
    <link rel="stylesheet" href="pages.scss">
    </head>
    
    <body>
    <div class="container">
<h1> List of all Coaches </h1>
<% @coaches.each do |coach| %>
    <li>
    <%= link_to coach.name, coach_path(coach) %>

    <%end%></li>


    </div>
    </body>
    </html>