body {
    color: blue;
    background-image: url(https://i.pinimg.com/originals/98/73/b9/9873b98a7eee9707d050565b085fc879.png);
}
.homepage {
    margin: 5px;
    padding: 5px;
    font-size: x-large;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 120px;
}
